/**
 * Global app style
 */

.App {
  background-color: #07170E;
}

/**
 * Global element styles
 */

.App div {
  margin-bottom: 0;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

.App a {
  color: #07250E;
}

.App table {
  color: white;
  border: 0;
  width: 100%;
  text-align: left;
}

.App h1 {
  font-size: 4em;
  font-weight: 10;
  font-variant: small-caps;
}

.App h2 {
  font-size: 100;
  font-weight: 600;
  font-variant: small-caps;
}

.App img {
  display: block;
}

 /**
  * Bars
  */

.HeaderBar {
  background-color: #020066;
}

.SectionBar {
  background-color: #133E4D;
}

/**
 * Element divs
 */

/* Used for individual animated elements
   Used in a CSSTransition component */
 .ElementDiv {
  border-style: outset;
  border-radius: 0.4rem;
  border-width: 0.7rem;
  padding-top: 0.05rem;
  padding-right: 0.7rem;
  padding-bottom: 0.05rem;
  padding-left: 0.7rem;
  display: inline-table;
  text-align: left;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.ElementDivAppear {
  animation: openElementDiv1 500ms ease-out forwards;
}

.ElementDivEnter {
  animation-delay: 100ms;
  animation: openElementDiv1 500ms ease-out forwards;
}

.ElementDivClose {
  animation: closeElementDiv1 100ms ease-out forwards;
}

/* Contains multiple animated elements in a row
   Used in a standard div*/
.ElementDivContainer {
  display: block;
}

.FullWidth {
  width: 85%;
}

.MenuBar {
  height: 2.5rem;
  line-height: 1.25rem;
}

/**
 * Colours
 */

.Welcome1 {
  background-color: #1E613C;
  border-left-color: #237046;
  border-top-color: #247347;
  border-bottom-color: #247347;
  border-right-color: #247549;
}

.Welcome2 {
  background-color: #247347;
  border-left-color: #288251;
  border-top-color: #298552;
  border-bottom-color: #298552;
  border-right-color: #2A8754;
}

.Welcome3 {
  background-color: #2B8A55;
  border-left-color: #2F995F;
  border-top-color: #309C61;
  border-bottom-color: #309C61;
  border-right-color: #319E62;
}

.About1 {
  background-color: #00613C;
  border-left-color: #007045;
  border-top-color: #007347;
  border-bottom-color: #007347;
  border-right-color: #007548;
}

.About2 {
  background-color: #107548;
  border-left-color: #138551;
  border-top-color: #138753;
  border-bottom-color: #138753;
  border-right-color: #138A54;
}

.About3 {
  background-color: #00915A;
  border-left-color: #00A163;
  border-top-color: #00A365;
  border-bottom-color: #00A365;
  border-right-color: #00A666;
}

.BroadcastPortfolio1 {
  background-color: #16455E;
  border-left-color: #19506E;
  border-top-color: #1A5270;
  border-bottom-color: #1A5270;
  border-right-color: #1A5473;
}

.BroadcastPortfolio2 {
  background-color: #1C597A;
  border-left-color: #20658A;
  border-top-color: #20668C;
  border-bottom-color: #20668C;
  border-right-color: #21688F;
}

.BroadcastPortfolio3 {
  background-color: #24729C;
  border-left-color: #277DAB;
  border-top-color: #287FAD;
  border-bottom-color: #287FAD;
  border-right-color: #2881B0;
}

.AudioPortfolio1 {
  background-color: #105737;
  border-left-color: #126640;
  border-top-color: #136942;
  border-bottom-color: #136942;
  border-right-color: #136B44;
}

.AudioPortfolio2 {
  background-color: #146E45;
  border-left-color: #167D4F;
  border-top-color: #178050;
  border-bottom-color: #178050;
  border-right-color: #178252;
}

.AudioPortfolio3 {
  background-color: #178050;
  border-left-color: #1A8F5A;
  border-top-color: #1A915C;
  border-bottom-color: #1A915C;
  border-right-color: #1B945D;
}

.VideoPortfolio1 {
  background-color: #2F634B;
  border-left-color: #367356;
  border-top-color: #377558;
  border-bottom-color: #377558;
  border-right-color: #38785A;
}

.VideoPortfolio2 {
  background-color: #3C8060;
  border-left-color: #438F6B;
  border-top-color: #44916D;
  border-bottom-color: #44916D;
  border-right-color: #46946F;
}

.VideoPortfolio3 {
  background-color: #5A946F;
  border-left-color: #64A37B;
  border-top-color: #65A67D;
  border-bottom-color: #65A67D;
  border-right-color: #67A87F;
}

.EventsPortfolio1 {
  background-color: #1C4A0A;
  border-left-color: #22590C;
  border-top-color: #235C0D;
  border-bottom-color: #235C0D;
  border-right-color: #245E0D;
}

.EventsPortfolio2 {
  background-color: #235C0D;
  border-left-color: #296B0F;
  border-top-color: #2A6E0F;
  border-bottom-color: #2A6E0F;
  border-right-color: #2B7010;
}

.EventsPortfolio3 {
  background-color: #328212;
  border-left-color: #389114;
  border-top-color: #399415;
  border-bottom-color: #399415;
  border-right-color: #3A9615;
}

/**
 * Miscellaneous
 */

.TableSeparator {
  padding-bottom: 0.2rem;
}

/**
 * Animations
 */

 @keyframes openElementDiv1 {
   0% {
    opacity: 0;
    transform: translateY(60%);
   }
   50% {
    opacity: 0.8; 
    transform: translateY(5%);
   }
   100% {
    opacity: 1;
    transform: translateY(0%)
   }
 }

 @keyframes closeElementDiv1 {
   0% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
 }